<div ng-controller="HireCtrl">
    <div class="modal-content centered">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Hire Me? </h4>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="application/x-www-form-urlencoded" name="sendform" target="_self">
          <div class="formline"><input name="xname" type="text" placeholder="Your name..." ></div>
          <div class="formline"><input name="xemail" type="text" placeholder="Your email..."></div>
          <div class="formline"><textarea name="xdescript" cols="" rows="" style="resize:none;" placeholder="Please, tell me about yourself and your company!"></textarea></div>
          <div><input name="send" type="submit" value="Send" class="btn hiresubmit btn-mine"></div>
        </form>
      </div>
    </div>
</div>



