  <div class="row-content last">
    <div class="row">
      <div class="col-sm-8">
        <h4>About Me</h4>
        <p>
          Hello! I'm Robbi Garza an aspiring software developer. I was born and raised in Texas, then moved to Boston where
          I earned a Bachelor of Arts in Computer Science from Boston University. My programming interests include machine
          learning, game physics, game development, front and back end web development, and robotics programming. I was first introduced
          to programming back in 2008 at the Google L.E.A.D. Engineering Program hosted at University of Virginia, where I won first
          place for best and most elaborate program made, amongst my peers, which was a simple Megaman-esque game using MIT's Scratch Program.
          Since then I've continued diving deep into the vast word of software development working with a collection of languages and applying
          them to a wide array of applications. My projects include the use of html/css and javascript to make an angular single page application,
          an ionic hybrid web app, and a Brick Break Game clone. In addition, I've used java to implement a 3D scene rendering program, and a minimax alpha/beta pruning
          A.I. that plays Connect 4.
          <br><br>
          Beyond honing my programming skills at Boston University, I became an avid pool player. Soon after I became the President
          of the B.U. Billiards Club and started a lessons program for all members to learn and have one on one teaching
          sessions with the most experienced players of the club. I then joined the American PoolPlayers Association where
          I joined a league team, of which I later became the team captain, and also won a spot in the singles 8-ball
          Classic National Championships hosted in Vegas.
        </p>
      </div>
      <div class="col-sm-2">
        <div class="row-content pic">
          <img src="images/about me images/machineLearning.jpg" alt="billiards" class="round-pic">
        </div>
        <div class="row-content pic">
          <img src="images/about me images/robot.jpg" alt="billiards" class="round-pic">
        </div>

      </div>

      <div class="col-sm-2">
        <div class="row-content pic">
          <img src="images/about me images/billiard.jpg" alt="billiards" class="round-pic">
        </div>
        <div class="row-content pic">
          <img src="images/about me images/apa-8-ball-classic.jpg" alt="billiards" class="round-pic">
        </div>
        <div class="row-content pic">
          <img src="images/about me images/wildstar.png" alt="billiards" class="round-pic">
        </div>
        <div class="row-content pic last">
          <img src="images/about me images/wow.png" alt="billiards" class="round-pic">
        </div>
      </div>
    </div>
</div>
