<div class="row-content">
  <div class="grid">
    <div class="row">
      <div class="col-sm-4 col-md-4" id="brickBreakthumb" scroll-to="brickBreak" offset="80">
        <img src="images/projectImgs/BrickBreak/1.png" class="grid-pic">
        <img src="images/projectImgs/BrickBreak/2.png" class="grid-pic">
        <img src="images/projectImgs/BrickBreak/3.png" class="grid-pic">
        <img src="images/projectImgs/BrickBreak/4.png" class="grid-pic">
        <img src="images/projectImgs/BrickBreak/5.png" class="grid-pic">
        <img src="images/projectImgs/BrickBreak/6.png" class="grid-pic">
      </div>

      <div class="col-sm-4 col-md-4 mid midTB" id="bstthumb"  scroll-to="bst" offset="80">
        <img src="images/projectImgs/BST Animation/1.png" class="grid-pic">
        <img src="images/projectImgs/BST Animation/2.png" class="grid-pic">
        <img src="images/projectImgs/BST Animation/3.png" class="grid-pic">
        <img src="images/projectImgs/BST Animation/4.png" class="grid-pic">
      </div>

      <div class="col-sm-4 col-md-4" id="spathumb" scroll-to="spa" offset="80">
        <img src="images/projectImgs/SPA/home.png" class="grid-pic">
        <img src="images/projectImgs/SPA/aboutUs.png" class="grid-pic">
        <img src="images/projectImgs/SPA/menu.png" class="grid-pic">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4 mid mid-mid midLR" id="ionicthumb" scroll-to="ionic" offset="80">
        <img src="images/projectImgs/IonicWebApp/home.png" class="grid-pic">
        <img src="images/projectImgs/IonicWebApp/menu.png" class="grid-pic">
        <img src="images/projectImgs/IonicWebApp/IOS_Android.png" class="grid-pic">
      </div>

      <div class="col-sm-4 col-md-4 mid mid-mid"  id="3Dthumb"  scroll-to="3D" offset="80">
        <img src="images/projectImgs/3D Scene Render/1.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/2.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/3.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/4.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/5.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/6.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/7.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/8.png" class="grid-pic">
        <img src="images/projectImgs/3D Scene Render/9.png" class="grid-pic">
      </div>

      <div class="col-sm-4 col-md-4 mid mid-mid midLR" id="connect4thumb"  scroll-to="connect4" offset="80">
        <img src="images/projectImgs/Connect 4/start.png" class="grid-pic">
        <img src="images/projectImgs/Connect 4/computerWon.png" class="grid-pic">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4" id="photosharethumb" scroll-to="photoshare" offset="80">
        <img src="images/projectImgs/photoshare/homepage.png" class="grid-pic">
        <img src="images/projectImgs/photoshare/albums.png" class="grid-pic">
        <img src="images/projectImgs/photoshare/commentpage.png" class="grid-pic">
      </div>

      <div class="col-sm-4 col-md-4 mid midTB" scroll-to="mygdb" offset="80">
        <img src="images/projectImgs/mygdb/running.png" class="grid-pic">
      </div>

      <div class="col-sm-4 col-md-4 last-grid" scroll-to="atropos" offset="80">
        <img src="images/projectImgs/AtroposGamePlay/Atropos.png" class="grid-pic">
      </div>
    </div>
  </div>
</div>











<div class="row-content" id="brickBreak">
  <div class="gameTitle">
    <h1>Brick Break!</h1>
    <div class="row infoBar">
      <div class="col-xs-12 col-md-4">
        <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
        <button class="btn btn-mine" onclick="playNpause()">Play Ball</button>
        <button class="btn btn-mine" onclick="setUp()">Restart</button>
      </div>
      <div class="col-xs-12 col-md-6">

      </div>
      <div class="col-xs-12 col-md-2">
        <h4 id="score">Score:</h4>
      </div>
    </div>
  </div>

    <canvas id="myCanvas" width="800" height="520"></canvas>
</div>

<div class="row-content" id="bst">
  <div class="gameTitle">
    <h1>Binary Search Tree Animation!</h1>
    <div class="infoBar">
      <div class="col-xs-12 col-md-2">
        <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
        <button class="btn btn-mine" onclick="BSTsetUp()">Random BST</button>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="circle" class="col-xs-12 col-md-1">
          <div id="text">31</div>
        </div>
        <div class="col-xs-12 col-md-5">
          Left click to delete leaf-node
        </div>
      </div>
    </div>
  </div>

  <canvas id="BST_Canvas" width="800" height="520"></canvas>
</div>

<div class="row-content" id="spa">
  <div class="infoBar gameTitle">
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
      <button class="btn btn-mine">Download exe</button>
    </div>
  </div>

  <div class="row" id="spapic">
    <img src="images/projectImgs/SPA/home.png" class="projectpic">
    <img src="images/projectImgs/SPA/aboutUs.png" class="projectpic">
    <img src="images/projectImgs/SPA/menu.png" class="projectpic">
  </div>
</div>



<div class="row-content" id="ionic">
  <div class="infoBar gameTitle">
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
      <button class="btn btn-mine">Download exe</button>
    </div>
  </div>



  <div class="row" id="ionicpic">
    <img src="images/projectImgs/IonicWebApp/home.png" class="projectpic">
    <img src="images/projectImgs/IonicWebApp/menu.png" class="projectpic">
    <img src="images/projectImgs/IonicWebApp/IOS_Android.png" class="projectpic">
  </div>
</div>



<div class="row-content" id="3D">
  <div class="row infoBar gameTitle">
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-social-icon btn-github" href="https://github.com/xaleth09/3D-Scene-Render"><i class="fa fa-github"></i></a>
      <button class="btn btn-mine">Download exe</button>
    </div>
  </div>

  <div class="row" id="3Dpic">
    <img src="images/projectImgs/3D Scene Render/1.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/2.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/3.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/4.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/5.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/6.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/7.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/8.png" class="projectpic">
    <img src="images/projectImgs/3D Scene Render/9.png" class="projectpic">
  </div>
</div>



<div class="row-content" id="connect4">
  <div class="row infoBar gameTitle">
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
      <button class="btn btn-mine">Download exe</button>
    </div>
  </div>

  <div class="row" id="connect4pic">
    <img src="images/projectImgs/Connect 4/start.png" class="projectpic">
    <img src="images/projectImgs/Connect 4/computerWon.png" class="projectpic">
  </div>
</div>




<div class="row-content" id="photoshare">
  <div class="row infoBar gameTitle">
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
      <button class="btn btn-mine">Download exe</button>
    </div>
  </div>

  <div class="row" id="photosharepic">
    <img src="images/projectImgs/photoshare/homepage.png" class="projectpic">
    <img src="images/projectImgs/photoshare/albums.png" class="projectpic">
    <img src="images/projectImgs/photoshare/commentpage.png" class="projectpic">
  </div>
</div>




<div class="row-content" id="mygdb">
  <div class="row infoBar gameTitle">
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
      <button class="btn btn-mine">Download exe</button>
    </div>
  </div>

  <div class="row" id="mygdbpic">
    <img src="images/projectImgs/mygdb/running.png" class="projectpic projectpic-scaled">
  </div>
</div>




<div class="row-content last" id="atropos">
  <div class="row infoBar gameTitle">
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-social-icon btn-github" href="http://www.github.com/xaleth09"><i class="fa fa-github"></i></a>
      <button class="btn btn-mine">Download exe</button>
    </div>
  </div>

  <div class="row" id="atropospic">
    <img src="images/projectImgs/AtroposGamePlay/Atropos.png" class="projectpic projectpic-scaled">
  </div>
</div>
