<div class="row">

  <div class="col-sm-8">
    <div class="row-content">
      <h3>
        Education
      </h3>
      <div class="row">
        <div class="col-sm-3">
          <img src="images/about me images/bulogo.jpg" class="resume-pic">
        </div>
        <div class="col-sm-9">
          <h4>
            <br>Boston University: B.A. Computer Science<br>
            Jan. 2016
          </h4>
        </div>
      </div>
    </div>


    <div class="row-content">
      <h3>
        Experience
      </h3>
    </div>


    <div class="row-content last">
      <h3>
        Additional Activities
      </h3>

      <div class="row">
        <div class="col-sm-3">
          <img src="images/about me images/bubilliards.jpg" class="resume-pic">
        </div>
        <div class="col-sm-9">
          <h4>
            <br>President of B.U. Billiards Club <br>
            2012-2014
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <img src="http://tucson.apaleagues.com/Uploads/tucson/APALogoAnim.gif" class="resume-pic">
        </div>
        <div class="col-sm-9">
          <h4>
            <br>Team Captain of Continuous Play<br>
            2016
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <img src="images/about me images/apa-8-ball-classic.jpg" class="resume-pic">
        </div>
        <div class="col-sm-9">
          <h4>
            <br>Competitor in 8-Ball Classic A.P.A National Tournament<br>
            April 2016
          </h4>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-4">
    <div>
      <h4>
        Programming Exp.
      </h4>
      <div class="progress">
        <div class="progress-bar progress-bar-mine" role="progressbar" aria-valuenow="80" style="width: 80%">
          <strong>JAVA</strong>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-mine" role="progressbar" aria-valuenow="80" style="width: 75%">
          <strong>JAVASCRIPT ES6</strong>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-mine" role="progressbar" aria-valuenow="70" style="width: 70%">
          <strong>HTML5/CSS3</strong>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-mine" role="progressbar" aria-valuenow="70" style="width: 73%">
          <strong>ANGULARJS</strong>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-mine" role="progressbar" aria-valuenow="50" style="width: 55%">
          <strong>C++</strong>
        </div>
      </div>
    </div>
  </div>
</div>


