.row.infoBar{
  padding-top: 5px;

  div.col-xs-12{
    padding-right:0px;
  }
  p{
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

}

#circle{
  width: 35px;
  height: 35px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 17.5px;
  background: green;

  #text {
    z-index: 1;
    position: absolute;
    font-weight: bold;
    color: black;
    font-size: 100%;
    top: 9px;
    left: 10px;
  }
}

#circle:hover{
  background: grey;
  #text{
    color: white;
  }
}
